*.settings
target
*.classpath
*.project
*.externalToolBuilders
bin
classes
META-INF
*.mymetadata
*.iml
*.idea
*.confirmed_dependencies
*.dependencies
manifest.json
/fmzg-timer-all/*.gitignore
/cas.log.1
/cas.log.2
/cas.log.3
